In [1]:
class book:
    def __init__(self, title, author, pages, price):
        self.title = title
        self.price = price
        self.author = author
        self.pages = pages
        
class magazine:
    def __init__(self, title, publisher, price, period):
        self.title = title
        self.price = price
        self.publisher = publisher
        self.period = period
        
class newspaper:
    def __init__(self, title, publisher, price, period):
        self.title = title
        self.price = price
        self.publisher = publisher
        self.period = period

In [2]:
b1 = book('alchemist', 'Paul coelho',700, 40.20)

m1 = magazine('Scientific American', 'Springer nature', 10, 'Monthly')

n1 = newspaper('Mumbai Mirror', 'The Times Group', 5, 'Daily')

In [3]:
print(b1.author)

Paul coelho

In [6]:
print(m1.publisher,',', n1.publisher)

Springer nature , The Times Group

In [14]:
print('book price is', b1.price, '\n',
      'newspaper price is', n1.price, '\n',
      'magazine price is', m1.price)

book price is 40.2
 newspaper price is 5
 magazine price is 10

**Understanding inheritance**

In [19]:
class publication:
    def __init__(self, title, price):
        self.title = title
        self.price = price
        
class periodical(publication):
    def __init__(self, title, price, publisher, period):
        super().__init__(title, price)
        self.publisher = publisher
        self.period = period

class book(publication):
    def __init__(self, title, author, pages, price):
        super().__init__(title, price)
        self.author = author
        self.pages = pages
        
class magazine(periodical):
    def __init__(self, title, publisher, price, period):
        super().__init__(title, price, publisher, period)
        
class newspaper(periodical):
    def __init__(self, title, publisher, price, period):
        super().__init__(title, price, publisher, period)

In [20]:
b1 = book('alchemist', 'Paul coelho', 700, 40.20)

m1 = magazine('Scientific American', 'Springer nature', 10, 'Monthly')

n1 = newspaper('Mumbai Mirror', 'The Times Group', 5, 'Daily')

In [21]:
print('book price is', b1.price, '\n',
      'newspaper price is', n1.price, '\n',
      'magazine price is', m1.price)

book price is 40.2
 newspaper price is 5
 magazine price is 10

In [22]:
print(b1.author)

Paul coelho

In [23]:
print(m1.publisher,',', n1.publisher)

Springer nature , The Times Group