In [1]:
# empty class

class employee:
    pass

In [2]:
# creating instances

emp1 = employee()
emp2 = employee()

In [4]:
print(emp1)
print(emp2)

<__main__.employee object at 0x0000015D3FDADFC8>
<__main__.employee object at 0x0000015D3FDADF88>

In [5]:
# instance variable

emp1.name = 'siddhi'
emp1.lastname = 'Golatkar'
emp1.pay = 150000
emp1.email = 'siddhi.golatkar@company.com'

In [6]:
emp2.name = 'Vinit'
emp2.lastname = 'Shetye'
emp2.pay = 250000
emp2.email = 'siddhi.golatkar@company.com'

In [7]:
print(emp1.name)
print(emp2.name)

siddhi
Vinit

In [12]:
class Employee:
    
    def __init__(self, first, last, pay):
        # attributes
        self.first = first
        self.last = last
        self.pay = pay
        self.email = first + '.' + last + '@company.com'
      
    # methods
    def full_name(self):
        return "{} {}".format(self.first, self.last)

In [15]:
emp1 = Employee('Siddhi', 'Golatkar', 150000)
emp2 = Employee('Vinit', 'Shetye', 250000)

In [16]:
print(emp1.first)
print(emp2.first)

Siddhi
Vinit

In [17]:
emp1.full_name()

'Siddhi Golatkar'

In [18]:
emp1.email

'Siddhi.Golatkar@company.com'

In [21]:
Employee.full_name(emp1)

'Siddhi Golatkar'

In [180]:
class Employee:
    
    def __init__(self, first, last):
        self.first = first
        self.last = last
    
    def email(self):
        return "{}.{}@email.com".format(self.first, self.last)
        
    def fullname(self):
        return '{} {}'.format(self.first, self.last)
    
emp1 = Employee('siddhi', 'golatkar')
emp1.first = 'Riddhi'

In [181]:
emp1.email()

'Riddhi.golatkar@email.com'

In [184]:
class Employee:
    
    def __init__(self, first, last):
        self.first = first
        self.last = last
    
    @property
    def email(self):
        return "{}.{}@email.com".format(self.first, self.last)
    
    @property
    def fullname(self):
        return '{} {}'.format(self.first, self.last)
    
emp1 = Employee('siddhi', 'golatkar')
emp1.first = 'Riddhi'

In [189]:
emp1.fullname = 'sneha golatkar'

In [193]:
class Employee:
    
    def __init__(self, first, last):
        self.first = first
        self.last = last
    
    @property
    def email(self):
        return "{}.{}@email.com".format(self.first, self.last)
    
    @property
    def fullname(self):
        return '{} {}'.format(self.first, self.last)
    
    @fullname.setter
    def fullname(self, name):
        first, last = name.split(' ')
        self.first = first
        self.last = last
        
    @fullname.deleter
    def fullname(self):
        self.first = None
        self.last = None
        print('Delete name!')
    
emp1 = Employee('siddhi', 'golatkar')
emp1.first = 'Riddhi'

In [194]:
del emp1.fullname

Delete name!

In [195]:
emp1.fullname

'None None'

In [188]:
emp1.fullname = 'sneha golatkar'

In [190]:
emp1.email

'sneha.golatkar@email.com'

In [191]:
emp1.fullname

'sneha golatkar'

In [192]:
emp1.first

'sneha'

In [176]:
emp1.email

'siddhi.golatkar@email.com'

In [177]:
emp1.fullname()

'siddhi golatkar'

In [168]:
class Employee:
    
    # class variables
    num_of_emps = 0
    raise_amount = 1.40
    
    def __init__(self, first, last, pay):
        # attributes
        self.first = first
        self.last = last
        self.pay = pay
        self.email = first + '.' + last + '@company.com'
        
        Employee.num_of_emps += 1
      
    # methods
    def full_name(self):
        return "{} {}".format(self.first, self.last)
    
    def apply_raise(self):
        self.pay = int(self.pay * self.raise_amount)
        
    @classmethod
    def set_raise_amt(cls,amount):
        cls.raise_amount = amount
        
    @classmethod
    def from_string(cls, emp_str):
        first, last, pay = emp_str.split('-')
        return cls(first, last, pay)
    
    @staticmethod
    def is_workday(day):
        if day.weekday() == 5 or day.weekday() == 6:
            return "its weekend"
        return "is a weekday"
    
    # magic methods / dunder methods
    def __repr__(self):
        return "Employee('{}', '{}', '{}')".format(self.first,self.last,self.pay)
    
    def __str__(self):
        return '{} - {}'.format(self.full_name(), self.email)
    
    def __add__(self, other):
        return self.pay + other.pay
    
    def __len__(self):
        return len(self.full_name())
    
    
class Developer(Employee):
    raise_amount = 1.10
    
    def __init__(self, first,last,pay, prog_lang):
        super().__init__(first,last,pay)
        self.prog_lang = prog_lang
        

class Manager(Employee):
    
    def __init__(self, first,last, pay, employees = None):
        super().__init__(first,last,pay)
        if employees == None:
            self.employees = []
        else:
            self.employees = employees
            
    def add_employee(self, employee):
        if employee not in self.employees:
            self.employees.append(employee)
            
    def remove_employee(self, employee):
        if employee in self.employees:
            self.employees.remove(employee)
            
    def print_employees(self):
        for employee in self.employees:
            print('--->', employee.full_name())
            
    
emp1 = Employee('Siddhi', 'Golatkar', 150000)
emp2 = Employee('Vinit', 'Shetye', 250000)

dev1 = Developer('siddhi', 'golatkar', 150000, 'python')
dev2 = Developer('vinit', 'shetye', 250000, 'java')

mgr1 = Manager('Sandya', 'pu', '100000', [dev1])

In [169]:
len(emp1)

15

In [170]:
len(dev1)

15

In [167]:
emp1 + emp2

400000

In [154]:
repr(emp1)

'<__main__.Employee object at 0x0000015D3FE75248>'

In [157]:
repr(emp1)

"Employee('Siddhi', 'Golatkar', '150000')"

In [161]:
str(emp1)

'Siddhi Golatkar - Siddhi.Golatkar@company.com'

In [162]:
print(emp1.__repr__())
print(emp1.__str__())

Employee('Siddhi', 'Golatkar', '150000')
Siddhi Golatkar - Siddhi.Golatkar@company.com

In [155]:
print(emp1)

<__main__.Employee object at 0x0000015D3FE75248>

In [160]:
print(emp1)

Siddhi Golatkar - Siddhi.Golatkar@company.com

In [163]:
print(int.__add__(1,2))

3

In [165]:
print(str.__add__('a','b'))

ab

In [136]:
print(isinstance(mgr1, Manager))

True

In [137]:
print(isinstance(mgr1, Employee))

True

In [138]:
print(isinstance(mgr1, Developer))

False

In [139]:
print(isinstance(dev1, Developer))

True

In [140]:
print(isinstance(dev1, Manager))

False

In [143]:
print(issubclass(Developer,Employee))

True

In [144]:
print(issubclass(Developer, Manager))

False

In [145]:
print(issubclass(Employee, Manager))

False

In [117]:
mgr1.email

'Sandya.pu@company.com'

In [125]:
mgr1.employees

In [124]:
print(mgr1.print_employees())

---> siddhi golatkar
None

In [127]:
mgr1.add_employee(dev2)

In [128]:
print(mgr1.print_employees())

---> siddhi golatkar
---> vinit shetye
None

In [111]:
print(dev1.email)
print(dev2.email)

siddhi.golatkar@company.com
vinit.shetye@company.com

In [131]:
mgr1.remove_employee(dev2)

In [132]:
mgr1.print_employees()

---> siddhi golatkar

In [112]:
dev1.prog_lang

'python'

In [106]:
print(help(Developer))

Help on class Developer in module __main__:

class Developer(Employee)
 |  Developer(first, last, pay)
 |
 |  Method resolution order:
 |      Developer
 |      Employee
 |      builtins.object
 |
 |  Data and other attributes defined here:
 |
 |  raise_amount = 1.1
 |
 |  ----------------------------------------------------------------------
 |  Methods inherited from Employee:
 |
 |  __init__(self, first, last, pay)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  apply_raise(self)
 |
 |  full_name(self)
 |      # methods
 |
 |  ----------------------------------------------------------------------
 |  Class methods inherited from Employee:
 |
 |  from_string(emp_str) from builtins.type
 |
 |  set_raise_amt(amount) from builtins.type
 |
 |  ----------------------------------------------------------------------
 |  Static methods inherited from Employee:
 |
 |  is_workday(day)
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors inherited from Employee:
 |
 |  __dict__
 |      dictionary for instance variables (if defined)
 |
 |  __weakref__
 |      list of weak references to the object (if defined)
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes inherited from Employee:
 |
 |  num_of_emps = 4

None

In [107]:
print(dev1.pay)

150000

In [108]:
dev1.apply_raise()

In [109]:
print(dev1.pay)

165000

In [86]:
import datetime

In [93]:
my_date = datetime.date(2024,1,6)

In [95]:
my_date

datetime.date(2024, 1, 6)

In [94]:
Employee.is_workday(my_date)

'its weekend'

In [70]:
emp_str_1 = 'john-Doe-70000'

In [72]:
new_emp_1 = Employee.from_string(emp_str_1)

In [75]:
print(new_emp_1.email)

john.Doe@company.com

In [76]:
new_emp_1.pay

'70000'

In [65]:
Employee.set_raise_amt(1.05)

In [67]:
emp1.set_raise_amt(1.06)

In [68]:
print(Employee.raise_amount)
print(emp1.raise_amount)
print(emp2.raise_amount)

1.06
1.06
1.06

In [50]:
Employee.num_of_emps

0

In [51]:
emp1 = Employee('Siddhi', 'Golatkar', 150000)

In [52]:
emp2 = Employee('Vinit', 'Shetye', 250000)

In [53]:
Employee.num_of_emps

2

In [35]:
emp2.pay

250000

In [36]:
emp2.apply_raise()

In [37]:
emp2.pay

350000

In [39]:
print(Employee.raise_amount)
print(emp1.raise_amount)
print(emp2.raise_amount)

1.4
1.4
1.4

In [40]:
emp1.__dict__

{'first': 'Siddhi',
 'last': 'Golatkar',
 'pay': 150000,
 'email': 'Siddhi.Golatkar@company.com'}

In [41]:
print(emp1.__dict__)

{'first': 'Siddhi', 'last': 'Golatkar', 'pay': 150000, 'email': 'Siddhi.Golatkar@company.com'}

In [42]:
Employee.__dict__

mappingproxy({'__module__': '__main__',
              'raise_amount': 1.4,
              '__init__': <function __main__.Employee.__init__(self, first, last, pay)>,
              'full_name': <function __main__.Employee.full_name(self)>,
              'apply_raise': <function __main__.Employee.apply_raise(self)>,
              '__dict__': <attribute '__dict__' of 'Employee' objects>,
              '__weakref__': <attribute '__weakref__' of 'Employee' objects>,
              '__doc__': None})

In [43]:
Employee.raise_amount = 1.50

In [44]:
Employee.__dict__

mappingproxy({'__module__': '__main__',
              'raise_amount': 1.5,
              '__init__': <function __main__.Employee.__init__(self, first, last, pay)>,
              'full_name': <function __main__.Employee.full_name(self)>,
              'apply_raise': <function __main__.Employee.apply_raise(self)>,
              '__dict__': <attribute '__dict__' of 'Employee' objects>,
              '__weakref__': <attribute '__weakref__' of 'Employee' objects>,
              '__doc__': None})

In [45]:
print(Employee.raise_amount)
print(emp1.raise_amount)
print(emp2.raise_amount)

1.5
1.5
1.5

In [46]:
emp1.raise_amount = 1.6

In [48]:
print(Employee.raise_amount)
print(emp1.raise_amount)
print(emp2.raise_amount)

1.5
1.6
1.5

In [60]:
for place in places:
    if place.count('a') >= 3:
        print(place)

bahamas
maharashtra